html {
   background-color: #F3F3F3; 
} 
a {
    color:  #407ae7;
    text-decoration: none;
}
h4 {
    font-size: 0.9vw;
    font-weight: 700;
}
h6 {
    margin: auto;
    font-weight: 700;
} 

.easy-form-container {
    font-family: 'Merriweather', serif;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    align-items: start;
    justify-content: center;   
}    
form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 20% 35% 25%;
    margin-top: 1vh;
    padding: 3.5vw;
    background-color: white;
    border-radius: 0.5vw;
    width: 35vw;
    height: 80vh;
    box-shadow: 3px 3px 2px 3px #bbbbbba8;
}

.top_title {
    margin: auto;    
    font-size: 50px;
    font-weight: 700;
}
.bottom_title {
    margin: 0.8vw auto auto auto;
    font-size: 15px;
}

.input_name {
    color: #5a5a5a9a;
    margin: 0.8vw auto 0.4vw auto;
    font-size: 12px;
    font-weight: 700;
}
.input {
    width: 95%;
    height: 6vh;
    padding: 0.6vw 0.8vw;
    border-radius: 0.2vw;
    border-color: #0D0D0F;
    font-size: 20px;
} input::-webkit-input-placeholder {
    font-size: 20px;
    font-weight: 700;
    color: #7a7a7a93;
}

.checkboxes {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-content: start;
}
label {
    font-size: 18px;
    font-weight: 700;
    padding-left: 1vw;
}
input[type="checkbox"] {
    height: 2vw;
    width: 2vw;
    margin: 0;
}

.download_btn {
    cursor: pointer;
    border: none;
    border-radius: 0.2vw;
    background-color: #0D0D0F;
    color: white;
    width: 100%;
    height: 6vh;
    margin-top: 4vh;
    font-size: 20px;
}
.note {
    margin-top: 1vw;
    font-size: 12px;
}

@media (max-width: 500px) {
    form {
        width: 50vw;
        height: 35vh;
        padding: 5vw;
    }
    .input {
        height: 3vh;
        font-size: 12px;
    }
    label {
        font-size: 8px;
    }
    input[type="checkbox"] {
        height: 3vh;
        width: 3vw;
    }
    .download_btn {
        margin-top: 2vh;
        height: 3vh;
        font-size: 2vw;
    }
    .note {
        font-size: 7px;
    }
    .input_name {
        margin: 0 auto 0.4vw auto;
        font-size: 8px;
    }
    input::-webkit-input-placeholder {
        font-size: 10px;
        font-weight: 700;
        color: #7a7a7a93;
    }
    .top_title {   
        font-size: 20px;
    }
    .bottom_title {
        font-size: 9px;
    }
}

@media (max-width: 370px) {
    form {
        width: 58vw;
        height: 32vh;
    }
    .input {
        border: 1.95px solid black;
    }
    input[type="checkbox"] {
        width: 4vw;
    }
    .download_btn {
        margin-top: 1vh;
    }
    .input_name {
        font-size: 7px;
    }
    .note {
        margin-top: 0.4vh;
        font-size: 6px;
    }
}
@media (max-width: 300px) {
    form {
        width: 65vw;
        height: 33vh;
        padding: 5vw;
    }
    .download_btn {
        margin-top: 1.2vh;
        font-size: 1vh;
    }
    .input_name {
        font-size: 8px;
    }
    .note {
        margin-top: 0.8vh;
        font-size: 5px;
    }
    input[type="checkbox"] {
        width: 5vw;
    }
}